body {
    text-align:center;
}

dl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

button{
    background-color:var(--select-form-color);
    color:var(--button-text-color);
}