header{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--third-detail-color)
}

h1{
    font-size: var(--heading-medium);
}