body{
    font-family: var(--ff-main);
    font-size: var(--body-medium);
    background-color: var(--main-background-color);
    color: var(--text-color-lightbg);
}

header{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-detail-color);
    color: var(--text-color-darkbg);

    a:hover{
        color: var(--secondary-detail-color)
    }

    h1{
        font-size: var(--heading-medium);
    }
}

img{
    width: 100%;
    height: auto;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    article{
        height:15em;
        width: 15em;
        border: 3px solid var(--primary-detail-color);
        border-radius: 5px;

        h2{
            background-color: var(--main-background-color);
            margin-top: 0;
        }

        button{
            float: right;
            margin-top: 10em;
        }
    }

    
    article:nth-of-type(1){
        background-image: url(../assets/article1.png);
       }
}

footer{
    background-color: var(--secondary-detail-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    align-items: end;
    flex-wrap: wrap;

     a:hover{
        color: var(--third-detail-color)
    }

    .follow{
        position: absolute;
        left: 50%;
    }
}