body{
    font-family: var(--ff-main);
    font-size: var(--body-medium);
    background-color: var(--main-background-color);
    color: var(--text-color-lightbg);
}

header{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--third-detail-color)
}

h1{
    font-size: var(--heading-medium);
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    article{
        height:20em;
        width: 20em;
        border: 3px solid var(--primary-detail-color);
        border-radius: 5px;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

footer{
    background-color: var(--secondary-detail-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5em;
    align-items: end;

    .follow{
        position: absolute;
        left: 50%;
    }
}